<app-header></app-header>
<div class="profesores">
    <div class="filtro">
      <h2>Filters</h2>
        <div class="tema">
          <!-- para filtrar -->
          <select (change)="onCarreraSelectionChange()">
            <option value="todos" disabled selected>Select a career</option>
            <option *ngFor="let carrera of carreras" [value]="carrera">{{ carrera }}</option>
          </select>
          <select (change)="filtrarGrupos($event)">
            <option value="todos">All the groups</option>
            <option *ngFor="let grupo of grupos" [value]="grupo.grupo" (click)="filtrarGrupos({ target: { value: grupo.grupo } })" >
              Group {{ grupo.grupo }}
            </option>
          </select>
        </div>  
    </div>
    <div class="descargas">
      <h2>Download files</h2>
        <div class="excel">
            <img src="../../assets/images/excel.png" alt="">
        </div>
        <div class="pdf">
            <img src="../../assets/images/pdf.png" alt="">
        </div>
    </div>
    <div class="resultado">
      <div class="tabla">
          <table>
              <thead>
                  <tr>
                      <th>Account No.</th>
                      <th>Name</th>
                      <th>Group</th>
                      <th>Details</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let alumno of alumnosFiltrados">
                      <td>{{ alumno.nro_cuenta }}</td>
                      <td>{{ getNombreCompleto(alumno) }}</td>
                      <td>{{ alumno.grupo }}</td>
                      <td>
                          <!-- Agregamos un botón para ver detalles -->
                          <button (click)="verDetalles(alumno)">See details</button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div> 
    <div class="estrategias">
      <h2>Recommendations</h2>
      <br>
      <h3 *ngIf="alumnoSeleccionado && !grupoSeleccionado">{{ 'Student\'s name: ' + nombreAlumno }}</h3>
      <h3 *ngIf="!alumnoSeleccionado && grupoSeleccionado">{{ 'Group: ' + grupoSeleccionado }}</h3>
      <h3 *ngIf="alumnoSeleccionado && grupoSeleccionado">{{ 'Student\'s name: ' + nombreAlumno }}</h3>
      <p class="erecomendada">Recommended teaching strategies: </p>
      <p class="pe1">{{ tituloEE1 }} ({{ conteoEE1 }})</p>
      <p class="pe2">{{ tituloEE2 }} ({{ conteoEE1 }})</p>
      <p class="pe3">{{ tituloEE3 }} ({{ conteoEE1 }})</p>
      <p class="pe4">{{ tituloEE4 }} ({{ conteoEE1 }})</p>
      <div class="de1"><p>{{ descripcionEE1 }}</p></div>
      <div class="de2"><p>{{ descripcionEE2 }}</p></div>
      <div class="de3"><p>{{ descripcionEE3 }}</p></div>
      <div class="de4"><p>{{ descripcionEE4 }}</p></div>
    </div>    
    <!--
  <div class="encuestas">
    <a href="https://forms.gle/2YeNiWerhAL91BPg8" class="b_encuesta">Evaluar Test SUMI</a>
    <a href="https://forms.gle/FnfSoPa8KrWxyATp7" class="b_encuesta">Evaluar Test USABILIDAD</a>
  </div>-->

</div>