<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SREE</title>
    <link rel="stylesheet" href="../login/login.component.css">
  </head>

  <body>
    <app-header></app-header>
    <div class="login-box">
      <h1>Log in</h1>
      <form (submit)="iniciarSesion()">
        <!-- USERNAME INPUT -->
        <label for="username">Employee number</label>
        <input type="text" placeholder="Enter your Employee Number" name="nroCuenta" [(ngModel)]="nroEmpleado">
        <!-- PASSWORD INPUT -->
        <label for="password">Password</label>
        <input type="password" placeholder="Enter your password" name="contra" [(ngModel)]="contra">
        <button type="submit" class="">Log In</button>
        <a href="#">Did you forget your password??</a><br>
      </form>
    </div>
    
  </body>
</html>