.main{
    display: grid;
    grid-template-columns: 65% 1fr;
    margin: 1rem;
}

.info{
    display: flex;
    border-radius: 1rem 0 0 1rem;
    background-image: linear-gradient(to left,#2E9BEC, #24a9d9 0%,#1E2440);
    min-width: auto;
    min-height: 85vh;
}

.login{
    display: flex;
    flex-direction: column;
    background-color: #eff3fc;
    padding: 10rem 3rem;
    border-radius: 0 1rem 1rem 0;
}

.login h2{
    font-size: 40px;
    font-weight: bold;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 2rem;
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1.5rem;
    box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
}

.btn{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;

    background: none;
    border: none;

    padding: 0 0.5rem;
    font-size: 17px;

    min-width: auto;
    min-height: auto;
}

.btn:hover > i{
    color: #24a9d9;
}

.selected > i{
    color: #2E9BEC;
}

.inputs{
    margin-top: 3rem;
}

.pass{
    margin-top: 1.5rem;
}

.inputs p{
    padding: 0 0.5rem;
    color: #b2b6be;
}

.inputs input{
    margin-top: 0.7rem;
    font-size: 15px;
    padding: 1.2rem;
    border: none;
    border-radius: 1rem;
    min-width: fill ;
    outline: none;

    box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
}

.login_btn{
    font-size: 20px;
    color: #ffffff;
    margin-top: 3rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-image: linear-gradient(to right, #3a7bd5 51%, #00d2ff 100%)
}

.login_btn:hover{
    background-position: left center;
}